body{
    background-color: #AFB9BF;
}
.loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%vh;
    justify-content: center;
}
.loginHeader{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}
.loginHeader img{
    padding-top: 40px;
    padding-bottom: 20px;   
    max-width: 180px;
    height: 250px;
}

.loginHeader h1{
    background-color:none;
    text-align: center;
    margin: auto;
    max-width: 360px;
    min-width: 320px;

}
.loginInput{
    border: 2px solid #ddd;
    border-radius: 8px;
    color: #333;
    margin-bottom: 15px;
    width: 100%;
    max-width: 300px;
    outline: none;  
    padding: 15px;
    font-size: 15px;
}
.loginButton{
    background-color:#687873;
    padding: 15px;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    max-width: 300px;
    width: 100%;
}
.loginButton:disabled{
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}
.declarat{
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 17px;
    text-align: center;
    margin: auto;
    max-width: 700px;
}
